<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <script src="assets/js/app.js"></script>
    <script src="assets/js/socket.factory.js"></script>
    
<body ng-controller="myCtrl">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <table class="table table-condensed table-striped table-bordered">
            <thead>
              <tr>
                <th width="5%">#</th>
                <th width="10%">Class</th>
                <th width="10%">Division</th>
                <th width="10%">Teacher</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in combination track by $index">  
                <td>{{ $index+1 }}</td>
                <td>{{ item.class }}</td>
                <td>{{ item.division }}</td>
                <td>{{ item.teacher }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
</div>

</body>
</html>
